<html xmlns:th="http://www.thymeleaf.org">
<div class="container" th:fragment="price-chart (id, metroId, history)">
    <div class="row">
        <script type="text/javascript" th:inline="javascript">
            google.charts.setOnLoadCallback(drawBackgroundColor);

            function drawBackgroundColor() {
                var chart = new google.charts.Line(document.getElementById(/*[[${metroId}]]*/));

                var cols = [{'id': 'X', 'label': 'Date', 'type': 'date'}];
                var colsData = /*[[${history.columns}]]*/ [];
                colsData.forEach(function(col) {
                    cols.push({'id': col, 'label': col, 'type': 'number'});
                });

                var rows = [];
                var rowsData = /*[[${history.rows}]]*/ [];
                Object.keys(rowsData).forEach(function(date) {
                    var c = [];
                    var rowValues = rowsData[date];
                    // console.log('dateKey: ' + date);
                    c.push({v: new Date(date)});

                    rowValues.forEach(function (val) {
                        c.push({v: val});
                    });

                    rows.push({'c': c});
                });

                var initData = new google.visualization.DataTable({
                    'cols': cols,
                    'rows': rows
                });

                var priceFormatter = new google.visualization.NumberFormat({
                    fractionDigits: 2,
                    suffix: ' RUB'
                });
                colsData.forEach(function (value, index) {
                    priceFormatter.format(initData, index + 1);
                });
                var dateFormatter = new google.visualization.DateFormat({
                    formatType: 'medium'
                });
                dateFormatter.format(initData, 0);

                var initOptions = {
                    hAxis: {
                        title: 'Date'
                    },
                    vAxis: {
                        title: 'Price'
                    },
                    backgroundColor: '#f1f8e9'
                };

                chart.draw(initData, initOptions);
            }
        </script>
        <div class="col">
            <div th:id="${metroId}"></div>
        </div>
        <div class="col-md-auto">
            <div class=" btn-group-vertical">
                <a th:href="@{/delete/__${id}__}" class="btn btn-danger">Delete</a>
                <a th:href="@{/poll/__${id}__}" class="btn btn-secondary">Update</a>
            </div>
        </div>
    </div>
    <!--<div th:text="${@productService.getPriceHistory(-->
            <!--__${id}__,-->
            <!--T(org.naivs.perimeter.metro.assistant.data.enums.HistoryRange).MONTH)-->
        <!--}">...</div>-->
</div>
</html>
