<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="products">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Package</th>
                    <th scope="col">Regular Price</th>
                    <th scope="col">Wholesale Price</th>
                    <th scope="col">Left pct</th>
                    <th scope="col">Link</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${products}">
                    <th scope="row"><span th:text="${product.id}">id</span></th>
                    <td><span th:text="${product.name}">name</span></td>
                    <td><span th:text="${product.pack}"></span></td>
                    <td><span th:text="${product.getProbes().get(0).regularPrice}">price</span></td>
                    <td><span th:text="${product.probes}">WholeSale</span></td>
                    <td><span th:text="${product.getProbes().get(0).leftPct}">Left</span></td>
                    <td><a class="btn btn-dark" th:text="Link"
                        th:href="${host} + ${product.url}"></a></td>
                </tr>
            </tbody>
        </table>
            <!--<tr th:if="${products}">-->
            <!--<td colspan="2"> No Metro Products Available </td>-->
            <!--</tr>-->

        <div class="container">
            <form action="#" th:action="@{/metro-assistant}" th:method="post">
                <div class="form-group">
                    <label for="inputUrl">Product URL</label>
                    <input th:name="productUrl" type="text"
                           class="form-control" id="inputUrl" aria-describedby="urlHelp">
                    <small id="urlHelp" class="form-text text-muted">Use URL without host.</small>
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>
</html>
